/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.modalheight{
  position: relative;
  height: auto !important;

}

#Form{
  padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    height: auto;
}
#popup
{
  position: relative;
    height: auto !important;
}
/* .sort-direction {
  display: flex;
  width: 71%;
  margin: 0px;
  float: right;
} */
.desc::before  {
  content: "▼";
  float: right;
  margin-right: 16px;
  }
  .asc::before {
  content: "▲";
  float: right;
  margin-right: 16px;
  }


